body {
    margin: 0%;
    text-align: center;
    font-size: 22px;
    background-color: rgb(43, 43, 43);
}
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(255, 105, 130);
    border-bottom: 3px solid rgb(129, 129, 129);
}
.tab {
    cursor: pointer;
    padding: 10px;
}
.tab-content {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20%;
}
.tab.active {
    background-color: rgb(255, 168, 232);
}
.tab:hover {
    background-color: #5200c4;
    color: white;
}