html {
    font-size: 22px;
    background-color: rgb(51, 51, 51);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 20%;
}
h1, h2, p {
    text-align: center;
}
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}
.tab {
    cursor: pointer;
    padding: 10px;
}
.tab.active {
    background-color: #CCC;
}
.tab:hover {
    background-color: #AAA;
}